* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

img {
    width: 100px;
}

body {
    background: linear-gradient(0deg, rgba(140, 140, 255, 1) 0%, rgba(213, 255, 252, 1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    height: 75px;
    text-align: center;
    background-color: rgb(68, 68, 128);
    color: rgb(200, 200, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    box-shadow: 2px 2px 4px hsla(6, 100%, 50%, 0.5);
    text-shadow: 2px 2px 4px hsla(6, 100%, 50%, 0.5);
    color: white;
    background-image: linear-gradient(120deg, lightblue, blue);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding: .5em 1em;
    border-radius: .5em;

}

button:hover {
    transform: scale(1.1);
}

input[type=submit] {
    box-shadow: 2px 2px 4px hsla(6, 100%, 50%, 0.5);
    text-shadow: 2px 2px 4px hsla(6, 100%, 50%, 0.5);
    color: white;
    background-image: linear-gradient(120deg, lightblue, blue);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding: .5em 1em;
    border-radius: .5em;
}

input[type=submit]:hover {
    transform: scale(1.1);
}

.container {
    padding: 25px 0px;
    margin: 0 auto;
    width: 80%;
    background-color: rgba(81, 216, 104, 0.377);
    position: relative;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.container h1 {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 1em;
    flex-basis: 100%;
}



.productos {
    /* background-color: red; */
    align-self: flex-start;
    text-align: center;
    flex: 1 1 300px;
}

.carrito {
    /* background-color: blue; */
    align-self: flex-start;
    text-align: center;
    flex: 1 1 300px;
}

.vaciarCarrito {
    margin-top: 50px;
    flex: 1 1 100%;
}

.carritoIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
}

.carritoIcon a {
    text-decoration: none;
    color: black;
}

.carritoIcon i {
    font-size: 2em;
}
.carritoIcon button{
    padding: .5em;
}

.imgBig {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.imgBig img {
    width: 100%;
}

.description {
    text-align: center;
    font-size: 2em;
}

.adminShop {
    margin-top: 50px;
    flex-basis: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-flow: row warp;
    /* background-color: red */
}

.adminShop>button {
    padding: 1em 2em;
}

.addModProducto form {
    margin-left: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.addModProducto input[type=text],
.addModProducto input[type=number],
.addModProducto label {
    padding: 5px;
    font-size: 1.5em;
    flex: 0 0 40%;
}

.addModProdButton {
    margin-top: 20px;
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.addModProdButton input[type=submit],
.addModProdButton button {
    padding: 5px;
    font-size: 1.5em;
}